- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum."
- var smoke       = "sales"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .bluebackground
    .title
      .max-width
        a(href="/")
          img.logo(src="/ruum-white.svg" style="width:100%;max-width:200px;" alt="RUUM")
        h2
          | A shared workspace for teams who close more deals.
        h3
          br
          strong "No Deal Is Won or Lost Alone."
          br
          em Marc Benioff, CEO Salesforce inc.
          br
          br
          | RUUM enables sales teams to close more deals together. 
          | Manage and organize your leads, create the best game plan 
          | - all the way from lead to contract. 
        
    
        .devicecontainer
          .device
            .homebutton
            .screen
              img(src="/sales.jpg"  alt="RUUM for sales" style="width:100%;max-width:1000px;")
        
        .buttons
          a.signinbutton(href="/join") Sign In
          include ../shared/_joinbutton.jade
        
    .clear-both
    .clear-both
    
    include ../shared/_features_sales.jade

    div(style="text-align:center")
      include ../shared/_joinbutton.jade
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
