- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "A shared workspace for teams who close more deals. Sign up for early access."
- var smoke       = "sales"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .bluebackground
    .title
      .max-width
        a(href="/")
          img.logo(src="/ruum-white.svg" style="width:100%;max-width:200px;" alt="RUUM")
        h2
          | A shared workspace for teams who close more deals.
        h3
          br
          strong "No Deal Is Won or Lost Alone."
          br
          em Marc Benioff, CEO Salesforce inc.
          br
          br
          | RUUM enables sales teams to close more deals together. 
          | Manage and organize your leads, create the best game plan 
          | - all the way from lead to contract. 
        
        include ../shared/_form.jade
    
      .devicecontainer
        .device
          .homebutton
          .screen
            img(src="/sales.jpg"  alt="RUUM for sales" style="width:100%;max-width:1000px;")
                
    .clear-both
    .clear-both
    
    include ../shared/_features_sales.jade

    div(style="text-align:center")
      include ../shared/_form.jade
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
