@font-face {
    font-family: 'Benton Sans';
    font-weight: 100;
    font-style: normal;
    src: url('fonts/bentonsanslight.woff2') format('woff2'),
         url('fonts/bentonsanslight.ttf') format('truetype');
}
@font-face {
    font-family: 'Benton Sans';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/bentonsansregular.woff2') format('woff2'),
         url('fonts/bentonsansregular.ttf') format('truetype');
}
@font-face {
    font-family: 'Benton Sans';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/bentonsansmedium.woff2') format('woff2'),
         url('fonts/bentonsansmedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Benton Sans';
    font-weight: 900;
    font-style: normal;
    src: url('fonts/bentonsansbold.woff2') format('woff2'),
         url('fonts/bentonsansbold.ttf') format('truetype');
}

html, body, * {
    font-family: 'Benton Sans', Helvetica, sans-serif !important;
}


@font-face {
    font-family: 'ruumicons';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/ruumicons.woff') format('woff'),
         url('fonts/ruumicons.ttf') format('truetype'),
         url("fonts/ruumicons.svg#ruumicons") format("svg");
}

[data-icon]:before {
  font-family: "ruumicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ruumicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\61";
}
.icon-add:before {
  content: "\62";
}
.icon-hidden:before {
  content: "\63";
}
.icon-locked-alt:before {
  content: "\64";
}
.icon-visible:before {
  content: "\65";
}
.icon-icn-back:before {
  content: "\66";
}
.icon-icn-bold:before {
  content: "\67";
}
.icon-icn-bulb:before {
  content: "\6a";
}
.icon-icn-cancel:before {
  content: "\6b";
}
.icon-icn-collapse:before {
  content: "\6c";
}
.icon-icn-contextual-menu:before {
  content: "\6d";
}
.icon-icn-crossed:before {
  content: "\6e";
}
.icon-icn-date:before {
  content: "\6f";
}
.icon-icn-delete:before {
  content: "\70";
}
.icon-icn-due-date:before {
  content: "\71";
}
.icon-icn-edit:before {
  content: "\72";
}
.icon-icn-email:before {
  content: "\73";
}
.icon-icn-exit-ruum:before {
  content: "\74";
}
.icon-icn-expand:before {
  content: "\75";
}
.icon-icn-forward:before {
  content: "\76";
}
.icon-icn-hashtag:before {
  content: "\77";
}
.icon-icn-tasks:before {
  content: "\78";
}
.icon-icn-team:before {
  content: "\79";
}
.icon-icn-time:before {
  content: "\41";
}
.icon-icn-to-canvas:before {
  content: "\42";
}
.icon-icn-underlined:before {
  content: "\43";
}
.icon-icn-italic:before {
  content: "\7a";
}
.icon-icn-locked:before {
  content: "\44";
}
.icon-icn-megaphone:before {
  content: "\45";
}
.icon-icn-remove-from-canvas:before {
  content: "\46";
}
.icon-icn-remove-user:before {
  content: "\47";
}
.icon-icn-search:before {
  content: "\48";
}
.icon-icn-settings:before {
  content: "\49";
}
.icon-icn-upload:before {
  content: "\4b";
}
.icon-icn-unlocked:before {
  content: "\4c";
}
.icon-icn-alarm:before {
  content: "\4d";
}
.icon-icn-arrow-down:before {
  content: "\4e";
}
.icon-icn-comment:before {
  content: "\4f";
}
.icon-icn-confirm:before {
  content: "\50";
}
.icon-icn-arrow-left:before {
  content: "\51";
}
.icon-icn-arrow-right:before {
  content: "\52";
}
.icon-icn-arrow-up:before {
  content: "\53";
}
.icon-icn-attachment:before {
  content: "\54";
}
.icon-new:before {
  content: "\55";
}
.icon-sort-asc:before {
  content: "\57";
}
.icon-sort-des:before {
  content: "\58";
}
.icon-pin-1:before {
  content: "\4a";
}
.icon-fav-filled:before {
  content: "\56";
}
.icon-fav:before {
  content: "\59";
}
