body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1434px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1434px;
  height:1750px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1434px;
  height:1750px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6300px;
  height:1118px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:355px;
  width:6300px;
  height:1118px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:551px;
  width:6296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6300px;
  height:558px;
  background:inherit;
  background-color:rgba(64, 171, 186, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:-500px;
  top:-28px;
  width:6300px;
  height:558px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:6296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1714px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1714px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:849px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:1218px;
  width:232px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:1206px;
  width:165px;
  height:24px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
