- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "All-in-one decision making for teams. Sign up for beta access."
- var smoke       = "marketing"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .title
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
          em for marketing
      h2
        | A shared workspace for all your team's campaigns.
      h3
        | RUUM enables marketing teams to react faster to market trends and customer insights. 
        | Analyze, agree and coordinate campaign activities to boost product performance. 
    
    include ../shared/_form.jade
    
    div(style="text-align:center")
      img(src="/ruum-marketing.jpg" style="width:100%;max-width:1000px;")
    
    .clear-both
    
    include ../shared/_features.jade
        
    include ../shared/_form.jade
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
