.bluebackground
.title
  .max-width
    a(href="/")
      img.logo(src="/ruum-white.svg" style="width:100%;max-width:200px;" alt="RUUM")
    h2
      | Ops... 404
    h3
      | Please return to our 
      a.button(href="/" style="padding:10px;text-transform:uppercase") homepage
  
    .buttons
      a.signinbutton(href="/signin") Sign In
      include ../shared/_joinbutton.jade
