style.
    .footer-contact-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: #39abbb;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    z-index: 1000;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    }
    .footer-contact-btn svg {
    width: 27px;
    vertical-align: middle;
    box-sizing: border-box;
    }
    svg:not(:root) {
    overflow: hidden;
    }
    
a(class="footer-contact-btn" href="mailto:team@ruumapp.com")
    svg(version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.552 28.357" enable-background="new 0 0 29.552 28.357" xml:space="preserve")
        path(fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M28.302,18.927c0,0.048-0.039,1.596-0.087,1.596h-4.943v5.093l-6.239-5.093H1.389c-0.048,0-0.087-0.041-0.087-0.089V1.253c0-0.047,0.038-0.086,0.086-0.086h26.827 c0.048,0,0.087,0.039,0.087,0.086v19.182V18.927z")
