.features
  .feature
    img(src="/data.png" alt="data")
    h2
      | Leads, Oppos, and
      br
      | Account Info
    p
      | Have everything relevant to the deal in one view:
      | Access data from your integrated Salesforce system, upload from spreadsheets, 
      | paste snippets from presentations and notes, or copy from the web. 
  
  .feature
    img(src="/people.png" alt="people")
    h2 Your Team and Partners
    p
      | Bring in all the people that matter. 
      | Comment and collaborate on the deal at hand or the upcoming customer presentation.
      | Assign tasks, discuss, and prioritize your options. 
  
  .feature
    img(src="/decisions.png" alt="decisions")
    h2
      | Prepare and Close
      br.inline-no-phone
      span.inline-no-phone &nbsp;
    p
      | Align on messaging, positioning, and customer requirements.
      | Right where all the relevant data sits. 
      | Get agreement from all the people in the Ruum. Easily track the execution of your success. 
