footer#footer
  h2 Ruum
  p
    | Contact us: 
    a(href="mailto:hello@ruumapp.com") hello@ruumapp.com
    br
    br
    | © 2016 – Built with &hearts; in Berlin. Ruum is an SAP company. All rights reserved.
