form.alerts-form(action="//sap.us14.list-manage.com/subscribe/post?u=fd94504f8f273ddbccb028e7d&amp;id=9f5ca7082d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)

  div(style="position: absolute; left: -5000px; height: 0;")
    input(type="text" name="b_8736a6f17f9edb63fd39a1524_a025c3ad68" tabindex="-1" value="")
    input(type="hidden" value=smoke name="SMOKE" id="mce-SMOKE")

  .form-group
    input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com")

  .form-group
    button(type="submit" name="subscribe" class="form-button") Get Early Access
