.title
  h1
    a(href="/")
      img(src="/logo.png" alt="Ruum")
      br.phone-only
      | Ruum
  
  h2
    | All-in-one decision making for teams.
    
  img(src="/ruum.png" style="width:100%;max-width:900px")
  
  .clear-both
  .clear-both
  .clear-both
