.features.usecases
  .feature
    h1
      a(href="/sales/")
        img(src="/ruum-logo.svg" alt="RUUM")
        em for sales
    p
      | RUUM enables sales teams to close more deals together. 
      | Manage and organize your leads, create the best game plan  
      | - all the way from lead to contract. 
    p.center
      a.button(href="/sales/") more...
  
  .feature
    h1
      a(href="/marketing/")
        img(src="/ruum-logo.svg" alt="RUUM")
        em for marketing
    p
      | RUUM enables marketing teams to react faster to market trends and customer insights. 
      | Analyze, plan and coordinate campaign activities to boost product performance.
    p.center
      a.button(href="/marketing/") more...
  
  .feature
    h1
      a(href="/hr/")
        img(src="/ruum-logo.svg" alt="RUUM")
        em(style="width:260%") for recruiting
    p
      | RUUM enables hiring managers &amp; recruiters to find the perfect match. 
      | Manage the hiring funnel, coordinate interviews, discuss and decide on candidates. 
    p.center
      a.button(href="/hr/") more...
