- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "All-in-one decision making for teams. Sign up for beta access."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .title
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
      h2
        | Almost...
        br
        | Please check your inbox and verify your Email!
      
      h1 💌
    
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
