- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)

    head(prefix="og: http://ogp.me/ns#")
        include ../shared/_meta.jade

    body
        .title.black(style="min-height:100%")
            h1
                a(href="/")
                    img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
            h2
                | Share important emails without forwarding.
                br
                    
            h3(style="font-weight:normal") Ruum: all your project's emails, files, and tasks in one place.

            br
            a.joinbutton(href="//ruumapp.com/intro" style="background:#39ABBB") Get started free
            
            h1 💌
 
        include ../shared/_footer.jade
        include ../shared/_scripts.jade
