- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)

    head(prefix="og: http://ogp.me/ns#")
        include ../shared/_meta.jade

    body
        .title.black
            h1
                a(href="/")
                    img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
            h2
                | Store your emails with your project.
                br
                    
            h3(style="font-weight:normal") Ruum: all your project's emails, files, and tasks in one place.

            h1 💌
            
            h3(style="font-weight: 300;margin-top:60px")
                | Ready to try it right now for free? 
                br
                br
                | Simply send an email to 
                a(href="mailto:hello@email.ruumapp.com") hello@email.ruumapp.com
                br
                br
                | 2 seconds later you will be invited to your first Ruum project!
            
            
                br    
                br    
                br    
        include ../shared/_footer.jade
        include ../shared/_scripts.jade
