- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum. Sign up for early access."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
    
  body
    .title.black
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")      
      h2 Terms &amp; Privacy
    .clear-both
    .clear-both
    
    div(style="margin:auto;max-width:900px;")
      
      h3 Links to Other Websites
      p Our Site contains links to other websites. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit personally identifiable information from you. Other sites follow different rules regarding the use or disclosure of the personally identifiable information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit.
      
      h3 Cookies
      p To give you the best possible experience, Ruum uses cookies and by continuing to use our site you agree that we can save them on your device. Cookies are tiny text files which are placed on your computer. Ruum utilizes them to remember your preferences for our site. Our cookies don’t collect personal information.
      
      h3 Content on Ruum
      p All Content found through our service is publicly accesable over the internet, and is the sole responsibility of the person who originated such Content. We may not monitor or control the Content found via Ruum and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials found via our service or obtained by you through our service is at your own risk.
      p We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content found via Ruum or endorse any opinions expressed via our service. You understand that by using Ruum, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, links and articles that have been mislabeled or are otherwise deceptive. Under no circumstances will Ruum be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, transmitted or otherwise made available via our service or broadcast elsewhere.
      
      h3 Your Information &amp; Data
      p
        | We never share information we receive from you unless:
        br
        | (a) we have your permission to share that information.
        br
        | (b) we have given you prior notice that the information will be shared, and with whom.
        br
        | (c) that information is aggregate information or other information that does not identify you.
      p We may share or disclose non-private information, aggregate information, or other non-personal information with people and entities with which we’re doing business. We strive to protect your private information, including your account information, to keep it private. We cannot, however, guarantee the security of any information. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of user information at any time.
    
      h3 Changes to this Policy
      p This Policy may be updated from time to time for any reason; each version will apply to information collected while it was in place. We will notify you of any material changes to our Policy by posting the new Policy on our Site, and email you should we have your email address. You are advised to consult this Policy regularly for any changes.
      
      p This Policy is effective as of October 01, 2016. If you have any thoughts or questions about this Policy please let us know: hello@ruumapp.com
    
    include ../shared/_footer.jade
    include ../shared/_scripts.jade
