- var url         = "https://ruumapp.com"
- var title       = "Ruum"
- var description = "Ruum - The single source of truth your team will actually use."
- var smoke       = "home"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
    
  body
    .title.black
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")      
      h2 RUUM BY SAP Privacy Statement
    .clear-both
    .clear-both
    
    div(style="margin:auto;max-width:900px;")
        p.
            Protecting the individual's privacy on the Internet is crucial to the future of Internet-based business and the move toward a true Internet economy. SAP America, Inc. (“SAP”) has created this privacy statement to demonstrate our firm commitment to the individual's right to privacy. This Privacy Statement outlines our personal information handling practices for this website.
        p.
            This Privacy Statement covers this RUUM BY SAP website and other sites that reference this Privacy Statement. Some SAP entities, programs and/or sites may have their own, possibly different, privacy statements. We encourage you to read the privacy statements of each of the SAP websites or program information you visit or review.

        h3 Global Privacy Fundamentals
        p.
            Our privacy practices reflect current global principles and standards on handling personal information. These principles include notice of data use, choice of data use, data access, data integrity, security, onward transfer, and enforcement/oversight. We abide by the privacy laws in the countries where we do business.

        h3 Consent
        p.
            By using this Website, you consent to the collection and use of the information as described here. If we decide to make changes to this Privacy Statement, we will post the changes on this site so that you will always know what information we collect, and how we use it.
        p.
            From time to time, as may be required by applicable law, we may also seek your explicit consent to process certain data and information collected on this website or volunteered by you.

        h3 Collection and Processing of Your Personal Data
        p.
            To serve you better and understand your needs and interests, SAP collects, exports, and uses personal information with adequate notice and consent, along with required filings with data protection authorities, when applicable.
        p.
            When you visit our web site, we may record your IP address and use cookies and other Internet technologies (referred to below as Automated Tools and Embedded Web Links) to gather general information about our visitors and their interests. The technologies used and the information collected are described in more detail below. 
        p.
            We may further collect and process any information and data that you volunteer to us, e.g. when you register for events, subscribe to newsletters, participate in online surveys, discussion groups or forums, or when make purchases.

        h3 Use and Purpose of Collected Personal Data
        p.
            The information SAP collects to understand your needs and interests helps SAP deliver a consistent and personalized experience. We will use such information only as described in this Privacy Statement and/or in the way we specify at the time of collection. We will not subsequently change the way your personal data is used without your consent, as required by applicable law. Some of the ways we may use your personal data include, but are not limited to: 
        ul
            li To deliver the Services;
            li To keep you up to date on the latest product announcements, software updates, software upgrades, security patches, system enhancements, special offers, and other information.
            li To tailor information about our products and services to your individual interests. For example, during a visit to our site, it allows us to provide you with specific information on products and services that may be of interest;
            li To provide the ability to create personal profile areas and view protected content;
            li To provide customer feedback and support;
            li To conduct questionnaires and surveys in order to provide better products and services to our customers and end users. Your completion of any questionnaires is voluntary; and
            li To meet contractual obligations.
        
        h3 IP Addresses
        p.
            We use IP addresses to help diagnose problems, to administer our website, and to gather demographic information. We may also use IP addresses or other information, such as your RUUM BY SAP user information you have shared on this website or at any earlier occasion or a campaign code, to determine which pages on our sites are being visited and topics that may be of interest so we can provide you with information about relevant products and services. Generally, SAP will aggregate such data only in an anonymous way and will not tie it to a particular individual unless he or she has given consent. When you visit our site, we recognize only your domain name.
        p.
            SAP will only gather information related to your visit to this website or other SAP Group sites. We do not track or collect personal information from your visits to companies or entities outside the SAP Group of companies. 
        
        h3 Automated Tools
        p.
            In addition to the information you provide, SAP may also collect information during your visit to an SAP website through automated tools, which include Web beacons, cookies, embedded Web links, and other commonly used information-gathering tools. These tools collect certain standard information that your browser sends to our website such as your browser type and language, access times, and the address of the website from which you arrived at an SAP website. Using these tools, SAP is also able to confirm receipt of e-mails that the recipient consented to receive, and can track other information such as pages visited on the site and whether or not the recipient registers for an event offered by SAP and certain other aggregate data that is not related to a particular individual.
        
        h3 Embedded Web Links
        p.
            Emails from SAP often use links designed to lead you to a relevant area on the Web, after redirection through SAP 's servers. The redirection system allows SAP to change the destination URL of these links, if necessary, and to determine the effectiveness of our marketing initiatives.
        p.
            In emails, such links may also allow SAP to determine if you have clicked on a link in the email, and the information about this interaction may be connected to your personal identity. If you do not want SAP to collect information about the links you clicked, you can simply choose not to click on the links in an e-mail that SAP sends you.

        h3 Cookies; Do Not Track Disclosure
        p.
            We use cookies to deliver personalized content, to save you having to re-enter your password repeatedly, to keep track of your shopping cart, and to tailor our information offerings to how you and others use the site. Cookies are identifiers that can be sent from a site via your browser to be placed on your computer's hard drive. Thereafter when you visit a site, a message is sent back to the web server by the browser accessing the site. Your browser may allow you to set a “Do not track” preference, which tells sites you visit that you do not want these messages to be submitted. Our site does not honor “Do not track” requests, but you may elect not to accept cookies by changing the designated settings on your web browser. However, not utilizing cookies may prevent you from using certain functions and features of our site. This site does not allow third parties to gather information about you over time and across sites.
        
        h3 Google Analytics
        p
            | This website also makes use of Google Analytics. To provide website visitors the ability to prevent their data from being used by Google Analytics, Google has developed the Google Analytics opt-out browser add-on for the Google Analytics JavaScript (ga.js, analytics.js, dc.js) available at
            a(href="https://tools.google.com/dlpage/gaoptout" target="_blank") https://tools.google.com/dlpage/gaoptout
            | .
        p
            | If you want to opt-out, download and install the add-on for your web browser. The Google Analytics opt-out add-on is designed to be compatible with Chrome, Internet Explorer 8-11, Safari, Firefox and Opera. In order to function, the opt-out add-on must be able to load and execute properly on your browser. For Internet Explorer, 3rd-party cookies must be enabled. Learn more about about the opt-out and how to properly install the browser add-on 
            a(href="https://support.google.com/analytics/answer/181881?hl=en" target="_blank") here
            | .
        
        h3 E-mail Addresses
        p.
            If you choose to give us your e-mail address, we will communicate with you via e-mail. We do not share your e-mail address with others outside the SAP Group of companies. You can choose not to receive any more e-mail at any time.
        p.
            Depending on how your e-mail application is set up, information about you may be transmitted automatically when you send e-mail to SAP.
        p.
            If you choose to register for third-party services, we may need to send some information from your RUUM by SAP registration to the service provider, possibly including your e-mail address.

        
        h3 Sharing Your Personal Data
        p.
            As a global company, SAP operates a number of Web sites around the world. Any data and information that you volunteer or that is otherwise collected on one of our sites in any one country may be sent electronically to a server for one of these sites in another country. We safeguard your privacy interests around the world by ensuring that this site adheres to our data protection principles described in this statement.
        p.
            Companies in the SAP Group may use the information internationally in connection with processing your inquiries and orders, to help improve our products and services and for processing and storage.
        p.
            We may also share such information with business partners, service vendors, authorized third-party agents or contractors in order to provide a requested service or transaction, providing customer support, or providing you with information on products and services that may be of interest to you.
        p.
            We only provide these third parties with the minimum amount of personal data necessary to provide the services on our behalf, and the third parties are not permitted to use your personal data except for the limited purpose of completing the requested service or transaction.
        p.
            We do not sell or rent your personal data to third parties for marketing purposes unless you have granted us permission to do so.
        p.
            We may respond to subpoenas, court orders, or legal process by disclosing your personal data and other related information, if necessary. We also may choose to establish or exercise our legal rights or defend against legal claims.
        p.
            Circumstances may arise where, whether for strategic or other business reasons, SAP decides to sell, buy, merge or otherwise reorganize businesses in some countries. Such a transaction may involve, in accordance with applicable law, the disclosure of personal information to prospective or actual purchasers, or the receipt of it from sellers. It is SAP 's practice to seek appropriate protection for information in these types of transactions.
        p.
            We may collect and possibly share personal data and any other additional information available to us in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of SAP 's terms of use, or as otherwise required by law.
        p.
            While visiting the website you may be directed to content or functionality that is hosted by a third-party supplier, not SAP. Most often, this is done to host special events, such as contests or seminars. When information is collected on behalf of SAP exclusively, the appropriate SAP entity's privacy statement will be referenced on the site and will govern how information is used. For other, non-SAP sites, the site's owner's privacy policy will be referenced. It is SAP's practice to require such suppliers and business partners to handle information in a manner consistent with SAP's privacy statement.
        
        h3 Links to Other Sites
        p.
            This site may contain links to other sites. SAP is not responsible for the privacy practices or the content of other websites outside the SAP Group of companies. 
        
        h3 Choice/Opt-Out
        p.
            We communicate with users who subscribe to our services on a regular basis via email, and we may also communicate by phone to resolve customer complaints or investigate suspicious transactions. We may use your email address to confirm your opening of an account, to send you notice of payments, to send you information about changes to our products and services, and to send notices and other disclosures as required by law. Generally, users cannot opt out of these communications, but they will be primarily informational in nature rather than promotional.
        p.
            SAP provides you the opportunity to exercise an opt-out choice if you do not want to receive other types of communication from us such as emails or updates from us regarding new services and products offered on this website or if you do not want us to share your personal information with third parties. The opt-out choice may be exercised by contacting feedback@ruumapp.com.
        
        h3 Data Retention
        p.
            SAP will not retain your personal data longer than is necessary to fulfill the purposes for which it was collected or as required by applicable laws or regulations.
        
        h3 Children's Privacy
        p.
            This website is not intended for children under the age of 13. SAP does not knowingly collect Personal Data from children under the age of 13.
        
        h3 Inquiries, Access and Updating Your Personal Data
        p.
            SAP needs your help in keeping the personal data you have shared with us accurate and up to date. If you are a registered user, you may make these updates yourself online under "My Account". You may also make these updates or other changes by sending an email to feedback@ruumapp.com.
        p.
            If you have any other questions about this privacy statement or if you wish to inspect the information we hold about you, please contact:
        p.
            Webmaster: feedback@ruumapp.com

        h3 Data Controller and Responsible Company
        p
            | The data controller for this Website is: 
            br
            br
            | SAP America, Inc. 
            br
            | 3999 West Chester Pike 
            br
            | Newtown Square 
            br
            | 19073

        p Updated: February 2, 2017
        p &nbsp;

    include ../shared/_chat.jade
    include ../shared/_scripts.jade
