- var url         = "http://ruumapp.com"
- var title       = "Ruum"
- var description = "All-in-one decision making for teams. Sign up for beta."
- var smoke       = "salesforce"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .title
      h1
        img(src="/salesforce.png")
        | +
        strong RUUM
      h2
        strong "No Deal Is Won or Lost Alone."
        br
        em Marc Benioff, CEO Salesforce inc.
      h3
        br
        | Ruum's Salesforce integration allows you to quickly engage and onbord anyone into an open opportunity:
        br
        | Close more deals together - with Ruum's advanced collaboration features.

    div(style="text-align:center")
      img(src="/ruum.jpg" style="width:100%;max-width:800px;")
    
    .clear-both
    
    include ../shared/_features_sales.jade

    include ../shared/_form.jade
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
