- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
    
  body
    .title.black
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
      h2(style="margin-top:0;padding-top:0;")
        | We're in closed beta.
      h3(style="font-weight:bold")
        | Request an invitation:
      
    .joinform
      include ../shared/_form.jade
      h1 🍭
    
    include ../shared/_footer.jade
    include ../shared/_scripts.jade
