- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "All-in-one decision making for teams. Sign up for beta access."
- var smoke       = "HR"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include ../shared/_meta.jade
  
  body
    .title
      h1
        a(href="/")
          img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
          em for recruiting
      h2
        | Data + People = Better Decisions.
      h3
        | RUUM enables your team to organize and execute your work in a collaborative, flexible and data-driven way. 

    div(style="text-align:center")
      img(src="/ruum.jpg" style="width:100%;max-width:1000px;")
    
    .clear-both
    
    include ../shared/_features.jade
        
    include ../shared/_form.jade
    
    include ../shared/_footer.jade
    
    include ../shared/_scripts.jade
