- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "Don't hit reply all. Get a Ruum. Sign up for early access."
- var smoke       = "home"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include shared/_meta.jade
  
  body
    .lightgray
      .title
        h1
          a(href="/")
            img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
        h2
          | Don't hit reply all. Get a Ruum.
        h3
          | Never get lost in endless email threads again: Ruum provides a shared digital space for teams to solve business problems collaboratively.

      include shared/_form.jade

    .clear-both
    .clear-both
    
    div(style="text-align:center")
      img(src="/ruum-marketing.png" alt="RUUM for marketing" style="width:100%;max-width:1000px;")
    
    .clear-both
    
    include shared/_usecases.jade
    
    .clear-both
    
    include shared/_features.jade

    include shared/_form.jade
    
    include shared/_footer.jade
    
    include shared/_scripts.jade
