- var url         = "http://ruumapp.com"
- var title       = "Ruum - All-in-one decision making for teams."
- var description = "All-in-one decision making for teams. Sign up for beta."

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include shared/_meta.jade
  
  body
    include shared/_title.jade
    include shared/_alerts.jade
    
    .clear-both

    section
      h1 Sign up for beta.
      
      .clear-both
      
      .clear-both

    footer#addcompany
      h2 Ruum
      p(style="margin-top:3em;")
        em
          | Built with &hearts; in Berlin, funded by SAP.
    
    include shared/_scripts.jade
