- var url         = "http://ruumapp.com"
- var title       = "RUUM"
- var description = "All-in-one decision making for teams. Sign up for beta access."
- var smoke       = "home"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include shared/_meta.jade
  
  body
    .lightgray
      .title
        h1
          a(href="/")
            img(src="/ruum-logo.svg" style="width:100%;max-width:200px;" alt="RUUM")
        h2
          | A shared workspace for teams who get more done.
        h3
          | Teams use RUUM to collect, structure and collaborate on information from any source to make faster and better business decisions.

      include shared/_form.jade

    .clear-both
    .clear-both
    
    div(style="text-align:center")
      img(src="/ruum.jpg" style="width:100%;max-width:1000px;")
    
    .clear-both
    
    include shared/_usecases.jade
    
    .clear-both
    
    include shared/_features.jade

    include shared/_form.jade
    
    include shared/_footer.jade
    
    include shared/_scripts.jade
