- var url         = "http://ruumapp.com"
- var title       = "ruum"
- var description = "Don't reply all. Get a Ruum."
- var smoke       = "home"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include shared/_meta.jade
  
  body
    .bluebackground
    .title
      .max-width
        a(href="/")
          img.logo(src="/ruum-white.svg" style="width:100%;max-width:200px;" alt="RUUM")
        h2
          | Don't reply all. Get a ruum.
        h3
          | Solve business problems collaboratively.
      
        .devicecontainer  
          .device
            .homebutton
            .screen
              img.placeholderimage(src="/marketing.jpg" alt="RUUM for marketing" style="width:100%;")
              video#loop(width="300px")
                source(src="ruum.mp4" type="video/mp4")
                source(src="ruum.ogv" type="video/ogv")
                img(src="marketing.jpg" alt="RUUM for marketing" style="width:100%;")
        
        .buttons
          a.signinbutton(href="/join") Sign In
          include shared/_joinbutton.jade
              
    include shared/_usecases.jade
    
    .clear-both
    
    include shared/_features.jade

    div(style="text-align:center")
      include shared/_joinbutton.jade
    
    include shared/_footer.jade
    
    include shared/_scripts.jade
